body {
    font-family: 'Helvetica Neue', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
}

.container-main {
    display:flex;
    justify-content:center
}

.item-github {
    margin-left:0px;
    margin-right:20px;
}

.item-linkedin {
    margin-left:20px;
    margin-right:20px;
}

.item-wordpress {
    margin-left:20px;
    margin-right:20px;
}

.item-email {
    margin-left:20px;
    margin-right:0px;
}

.header {
    font-size:4rem;
    text-align:center;
    margin-top:180px;
}

.description {
    font-size:2.5rem;
    text-align:center;
    margin-bottom:65px;
}
